.text-center {
    text-align: center;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: .25em;
}

.bucket {
    width: 40%; 
    display: inline-block; 
    border-radius: .25em; 
    border: 1px solid #e1e1e1;
}

.blue {
    background-color: #3498DB;
    color: #FFFFFF;
}

.red {
    background-color: #C0392B;
    color: #FFFFFF;
}

.green {
    background-color: #27AE60;
    color: #FFFFFF;
}

.pink {
    background-color: #F5B7B1;
    color: #FFFFFF;
}